nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 30px;
    position: fixed;
    width: 80%;
    margin: 50px 10% 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 5px #8d8d8d;
    z-index: 1;
}
.menu-three {
    display: none;
}
nav h2 {
    color: #111;
    height: fit-content;
    margin-top: 17px;
}

nav ul {

}

nav ul li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #111;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
}
nav button {
    font-size: 15px;
    color: #2673a7;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #2673a7;
}

.menu-nav {
    display: none;
}



.whitebg {
    background-color: #fff;
    width: 100%;
    height: 600px;
}

.positionset {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 10%;
}

.positionset .upline {
    font-size: 15px;
    font-weight: 600;
    color: #111;
    line-height: 20px;
}
.positionset h1 {
    font-size: 40px;
    font-weight: 900;
    color: #111;
    margin-top: 15px;
}

.positionset .lpsm {
    font-size: 15px;
    font-weight: 100;
    color: #8d8d8d;
    line-height: 20px;
    margin-top: 15px;
    width: 75%;
}

.positionset button {
    padding: 10px 30px;
    background-color: #2673a7;
    border: 1px solid #2673a7;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
}
.greybg {
    width: 100%;
    height: 500px;
    background-color: #eee;
    display: table;
}
.whitebg .dots {
    margin-top: 27px;
}

.whitebg .dots p {
    color:#8d8d8d;
    font-weight: 900;
    
}

.img-fr {
    width: 300px;
    height: 400px;
    position: absolute;
    right: 10%;
    top: 50%;
    border: 1px solid transparent;
    border-radius: 10px;
}


.greybg .dots {
    position: absolute;
    left: 10%;
    top: 98%;
    margin-top: 17px;
}
.greybg .dots p {
    color:#8d8d8d;
    font-weight: 900;
}


.greybg-low {
    position: relative;
    top: 40%;
    left: 10%;
    right: 10%;
    width: calc(80% - 80px);
    height: 80px;
    padding: 20px 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    
}
.greybg-low div {
    margin: auto 0;
}

.greybg-low div h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}

.greybg-low div p {
    font-size: 15px;
    font-weight: 100;
    line-height: 30px;
    color: #8d8d8d;
}

.greybg-low div input {
    
    line-height: 30px;
    width: 300px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}
.greybg-low div input::placeholder {
    
    padding-left: 10px;
}

.greybg-low div button {
    line-height: 30px;
    width: 150px;
    background-color: #2673a7;
    color: #fff;
    border: 1px solid #2673a7;
    border-radius: 5px;
    padding: 2px 0;
}



.categories {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.categories-top {
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    background-color: #fff;
    box-shadow: 2px 2px 5px #111;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 100px;
}
.categories-top h5 {
    font-size: 15px;
    color: #8d8d8d;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
}
.categories-top h1 {
    font-size: 40px;
    color: #111;
    padding: 5px 0 0 10px;
    font-weight: 900;
}

.categories-top p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #2673a7;
    border-bottom: 2px solid #2673a7;
    height: fit-content;
    padding-bottom: 5px;

}
.picd {
    background-image: url('img/computer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 100px;
}

.categories-middle {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    margin-top: 100px;
}

.categories-middle h2 {
    font-size: 30px;
    color: #111;
    text-align: center;
}

.cm-pics {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 40px;
}



.cm-pics .picdesign {
    flex-basis: 24%;
    background-image: url('img/design.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;

}

.cm-pics .picadvertising {
    flex-basis: 24%;
    background-image: url('img/advertising.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.cm-pics .picphotography {
    flex-basis: 24%;
    background-image: url('img/photography.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 300px;
    border-radius: 10px;
}

.cm-pics .picfilm {
    flex-basis: 24%;
    background-image: url('img/film.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 300px;
    border-radius: 10px;
}

.cm-pics div h4 {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 2px 2px 3px #111;
    position: relative;
    top: 90%;
    left: 10%;
}

.categories-middle button {
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2673a7;
    border: 1px solid #2673a7;
    border-radius: 5px;

}

.categories-bottom {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    margin-top: 100px;
    
}

.categories-bottom h2 {
    font-size: 25px;
    color: #111;
    line-height: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.Podcasts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Podcasts .tdiv {
    flex-basis: 24%;
    width: 100%;
    height: 300px;
    background-color: #f8f9fd;
    border: 2px solid #eeeff1;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.fpod {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.Podcasts div h2 {
    color: #2673a7;
    font-size: 20px;
    line-height: 25px;
    width: fit-content;
    margin-left: 10px;
    margin-top: 20px;
}

.Podcasts div h5 {
    color: #8d8d8d;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 10px;
}

.Podcasts div img {
    width: 100px;
    height: 100px;
    border-left: 1px solid transparent;
    border-radius: 50px 10px 20px 50px;
}

.Podcasts div p {
    margin: 20px 10px 0;
    text-align: justify;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.Podcasts div i {
    margin: 20px 10px 20px;
    padding: 15px 18px;
    background-color: #2673a7;
    color: #fff;
    border-radius: 50%;
}
.hdiv {
    flex-basis: 24%;
    background-image: url('img/building.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 50px 0;
    border: 2px solid #eeeff1;
    display: table;
    opacity: 0.8;
    border-radius: 10px;
}

.hdiv .pictext-building {
    display: table-cell;
    vertical-align: middle;
}

.hdiv .pictext-building h5 {
    color: rgba(255, 255, 255, 1.0);
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 3px #111;
    
}
.hdiv .pictext-building i {
    background-color: transparent;
    margin: 0 2px;
    padding: 0;
}

.hdiv .pictext-building p {
    font-size: 15px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1.0);
    line-height: 20px;
    font-weight: 100;
    text-shadow: 2px 2px 3px #111;
    margin-top: 20px;
}

.hdiv .pictext-building button {
    font-size: 15px;
    width: fit-content;
    display: block;
    margin: 20px auto 0;
    color: rgba(255, 255, 255, 1.0);
    text-shadow: 2px 2px 3px #111;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
}


footer {
    background-color: #f8f9fd;
}

.footer-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 80px;
    border-top: 2px solid #eeeff1;
    border-bottom: 2px solid #eeeff1;

}

.footer-top ul {

}

.footer-top ul li {
    display: inline-block;
    float: left;
    list-style: none;
    line-height: 80px;
}
.footer-top ul li a {
    text-decoration: none;
    color: #111;
    font-size: 15px;
    font-weight: 100;
    margin: 0 10px;

}


.icons-footer {

}

.icons-footer i {
    margin: 32px 10px;
}

.footer-middle {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-bottom: 2px solid #eeeff1;
}

.footer-middle h2 {
    font-size: 20px;
    font-weight: 900;
    width: 35%;
    margin: 30px auto 30px;
    text-align: center;
}

.footer-middle div {
    width: 36%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.footer-middle div input {
    width: 60%;
    line-height: 30px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}
.footer-middle div input::placeholder {
    padding-left: 10px;
}

.footer-middle div button {
    width: 37%;
    height: 32px;
    background-color: #2673a7;
    border: 1px solid #2673a7;
    border-radius: 5px;
}

.footer-bottom {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: table;
}

.footer-bottom p {
    width: fit-content;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    color: #111;
}